@{
    ViewBag.Title = "Home Page";
}


<h3>Telerik UI for ASP.NET MVC PanelBar</h3>
<br />

@(Html.Kendo().PanelBar()
    .Name("IntroPanelBar")
    .Items(items =>
    {
        items.Add()
            .Text("Getting Started")
            .Selected(true)
            .Expanded(true)
            .Content(@<text>@model IEnumerable<TelericGis.Models.StreetRadiation>

                         @(Html.Kendo().Grid(Model)
                               .Name("RadiationGrid")
                               .Columns(columns =>
                               {
                                   columns.Bound(p => p.Name).Title("Назва вулиці");
                                   columns.Bound(p => p.Radiation).Title("Радіаційний фон");
                                   columns.Bound(p => p.Extensions);
                               }
                               )
                               )</text>);
        items.Add()
            .Text("Add NuGet packages and jump-start your coding")
            .Content(@<text>
                <p style="padding:0 1em">NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a></p>
            </text>);
        items.Add()
            .Text("Find Web Hosting")
            .Content(@<text>
                <p style="padding:0 1em">You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a></p>
            </text>);
    })
)
